@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	text-align: center;
     background-image: url("imagens/delet.gif");
    background-size: cover;
    background-position: center;

}
.conteudo{
  width: 100%;
  min-height: 100vh;
   display:  flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.3);

}
.main{
	width: 500px;
	min-height: 100vh;
   display:  flex;
   margin-right: 57vh;
   background-color: rgba(16, 14, 14, 0);
   margin-top: 3vh;
   margin-bottom: -1vh;

}

.titulo{
  width: 800px;
	font-size: 20px;
	margin-top: 22vh;
  margin-right: -50vh;
  margin-bottom: 5vh;
	color: white;
  margin-bottom: 15px;
  
}

.titulo-container{
	margin-top: 5em;
}

.mostrarAgenda{
  display: flex;
  flex-direction: line;
}
.mostrarAgenda input{
  width: 350px;
  height: 305px;
  position: center;
}

#btn-enviar-nome, #btn-enviar-excluir{
  margin-top: 40px;
  min-width: 50px;
  min-height: 45px;
  color: white;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  border-radius: 2px;
  cursor: pointer;
  background-color: #c27511;
  display: block;
}

#aquimesmo{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 280px;
  color: white;

  align-self: center;
  font-family: 'Uchen', serif;
  font-size: 18px;
}
#aquimesmo:checked{
border: 1px solid white;
}

.voltar{
  position: absolute;
  top: 9px;
  left: 770px;
  cursor: pointer;
}

.nome{
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  
}

#excluir-Agendas{
  margin-bottom: 20px;
}

#pesquisaID{ 
  border-radius: 1;
  font-size: 20px;
  background-color:  rgba(255, 102, 0, 0);
  border-bottom: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
   align-self: center;
   margin-bottom: 5px;
}


#btn-mostra-alteracao,#btn-enviar-id,#btn-enviar-alteracao{
  width: 300px;
  height: 45px;
  background-color: #000000;
  color:  white;
  margin-top: 30px;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
}

#excluir-Agendas{
  width: 180px;
  height: 50px;
  align-self: center;
  background-color: red;
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-top: 12px;

}
#resultados{
  height: 500px;
  display: flex;
  font-size: 20px;
  flex-direction: column;
  align-self: center;
  justify-content: space-evenly;
  color: white;
  
}
#resultados input{color: rgb(255, 255, 255);
  background-color: transparent;
  border: 1px solid rgb(255, 255, 255);

}

#btn-enviar-alteracao{
    background-color:#0F612F;
}