@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');


*{
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Kingthings Foundation';
	text-align: center;
}
.main{
	width: 100%;
	height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
	background-color: #020101;
}

.menu-opcoes{
	width: 100%;
	height: 10vh;
	 display: flex;
	justify-content:flex-end;
	align-items: center;
}
.menu{
	width: 50%;
	height: 10vh;
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;

	
}
.menu a{
		text-decoration: none;
}

.opcoes{
	color: white;
	list-style: none;
	cursor: pointer;
}

.opcoes:hover{
	color: #CECEF7;
}

.conteudo-do-site{
	width: 85%;
	height: 65vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	align-items: center;
}
.option{
	width: 30%;	
	
	cursor: pointer;
	background-color: white;

}
.option a{
	text-decoration: none;
}


.conteudo{
	height: 45vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
	color: rgb(5, 47, 18);
    
}

.conteudo figcaption{
   padding: 20px;
}

.voltar{
  position: absolute;
  top: 15px;
  left: 40px;
  
}

.sobreNos{
	width: 100%;
	height: 35vh;
	background-image: url("imagens/dada.png");
	border-bottom: 2px solid rgb(5, 47, 18);
	color:rgb(255, 255, 255);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.redes-Sociais{
	display: flex;
	flex-direction: row;
	width: 120px;
	justify-content: space-between;
	margin-bottom: 25px;
	
}